{% extends 'base.html' %}

{% block title %}{{ poll.question }}{% endblock %}

{% block content %}
  <h2>{{ poll.question }}</h2>
  <form method="post" action="{% url 'polling:detail' poll.id %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Vote</button>
  </form>
  {% if messages %}
  <div class="messages">
    <ul class="messages-list">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div id="votes-count">Total votes: <span id="total-votes">{{ total_votes }}</span></div>
  <div id="vote-results">
    <h3>Results:</h3>
    <ul>
      {% for choice in poll.choice_set.all %}
        <li>{{ choice.choice_text }} - {{ choice.votes }} votes</li>
      {% endfor %}
    </ul>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function updatePollResults() {
        $.get("{% url 'polling:poll_results_api' poll.id %}", function(data) {
            var resultsDiv = $('#vote-results');
            resultsDiv.empty();
            resultsDiv.append('<h3>Results:</h3>');
            var resultsList = $('<ul>');
            var totalVotesSpan = $('#total-votes');
            totalVotesSpan.empty();
            totalVotesSpan.append(data.total_votes)
            data.results.forEach(function(choice) {
                resultsList.append('<li>' + choice.choice_text + ' - ' + choice.votes + ' votes</li>');
            });
            resultsDiv.append(resultsList);
        });
    }

    // Update poll results every 5 seconds
    setInterval(updatePollResults, 5000); // Adjust the interval as needed
  </script>
  <script>
    // Hide messages with the 'disappearing' tag after 5 seconds
    const disappearingMessages = document.querySelectorAll('.messages');
    console.log(disappearingMessages);
    disappearingMessages.forEach(message => {
      setTimeout(() => {
        message.style.display = 'none';
      }, 5000); // Adjust the delay (in milliseconds) as needed
    });
  </script>
{% endblock %}